<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d [%-5p] [%t] %-17c{2} %3x - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Append" value="true" />
        <param name="encoding" value="UTF-8"/>
        <param name="file" value="D:/netty-project-log/logfile.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d [%-5p] [%t] %-17c{2} %3x - %m%n" />
        </layout>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>

<!--
# 로깅 레벨
# FATAL : 가장 크리티컬한 에러가 발생했을 때
# ERROR : 일반적인 에러가 발생했을 때
# WARN : 에러는 아니지만 주의가 필요할 때
# INFO : 일반적인 정보가 필요할 때
# DEBUG : 일반적인 정보를 상세히 나타낼 때
# TRACE : DEBUG 레벨이 너무 광범위한 것을 해결하기 위해서 좀 더 상세한 정보를 나타낼 때
# 우선 순위  = FATAL > ERROR > WARN > INFO > DEBUG > TRACE
# (FATAL이 가장 높고 TREACE가 가장 낮음(WARN으로 설정하면 FATAL, ERROR, WARN)만 출력)

# DataPattern 설정
# 매달 갱신 : yyyy-MM
# 매주 갱신 : yyyy-MM-ww
# 매일 갱신 : yyyy-MM-dd
# 12시간 갱신 : yyyy-MM-dd-a
# 매시간 갱신 : yyyy-MM-dd-HH
# 매분 갱신 : yyyy-MM-dd-HH-mm
-->